instance_name: ${instance_name}
ansible_port: ${ansible_port}
ansible_ssh_user: ${ansible_ssh_user}
private_key_file: ${private_key_file}
web_server_type: ${web_server_type}
db_server_type: ${db_server_type}
domain_name: ${domain_name} 
acme_email: ${acme_email}
